# Supabase
SUPABASE_URL=https://xakhdbrwruwykgzxatcs.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_-SqbAs2NLADpCl1Ghh2f4A_KDstsWvg

# Firebase (Google Auth)
FIREBASE_API_KEY=AIzaSyCm9my4s-MhZEALZvoihgDI2VsQ1juV4l8
FIREBASE_AUTH_DOMAIN=rentconnectweb.firebaseapp.com
FIREBASE_PROJECT_ID=rentconnectweb
FIREBASE_STORAGE_BUCKET=rentconnectweb.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=339484258181
FIREBASE_APP_ID=1:339484258181:web:339938f8acaed94e139eec
FIREBASE_WEB_CLIENT_ID=
